<%= _.template(require('./../includes/header-index.html'))() %>
  <main class="main">
    <header class="firstscreen">
      <div class="firstscreen__bg"></div>
      <div class="firstscreen__content">
        <div class="container container_xxxl">
          <div class="firstscreen__info firstscreen__info1" style="display: block;">
            <div class="logo logo_main"></div>
            <div class="collage">
              <div class="collage__img" style="background-image: url('assets/img/bg/bg-collage-img1.jpg');"></div>
              <div class="collage__img" style="background-image: url('assets/img/bg/bg-collage-img2.jpg');"></div>
              <div class="collage__img" style="background-image: url('assets/img/bg/bg-collage-img3.jpg');"></div>
            </div>
            <button class="btn btn_1 btn-index">Unlock My Matches</button>
            <div class="search-progress progress" style="display: none;">
              <div class="search-progress__title">
                <span class="search-progress__text">Searching your best <br class="d-lg-none">match</span>
                <span class="search-progress__value">30 %</span>
              </div>
              <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="secondscreen secondscreen_1" style="display: block;">
      <div class="container container_xxxl">
        <h2 class="h2_index">Release&nbsp;My <span class="h2_index2row">combinations</span></h2>
        <div class="row">
          <div class="col-12 col-xl-6 pe-xl-5">
            <p class="pmain">We have created a unique combination system that consists of three main factors that produce
              similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated
              form, connects people who have interests in similar activities, passions and future aspirations. We
              also add our own personal touch to the online dating process ensuring that your experience is
              special and exclusive to you.</p>
          </div>
          <div class="col-12 col-xl-6 ps-xl-5">
            <p class="pmain">Instead of spending weeks looking for your best combination, we send you a personalized combination
              every day by email. As these presentations have been carefully selected based on your NF (Life,
              Freedom and Culture) score, you can spend more time talking or planning your first night out.</p>
          </div>
        </div>
      </div>
    </section>
  </main>
<%= _.template(require('./../includes/footer.html'))() %>
