<%= _.template(require('./../includes/header-index.html'))() %>

  <div id="page-preloader" class="preloader">
    <div class="loader"></div>
  </div>

  <main class="main">
    <header class="firstscreen">
      <div class="firstscreen__bg"></div>
      <div class="firstscreen__content">
        <div class="container container_xxxl">
          <div class="firstscreen__info firstscreen__info1" style="display: block;">
            <div class="logo logo_main"></div>
            <div class="collage">
              <div class="collage__img" style="background-image: url('assets/img/bg/bg-collage-img1.jpg');"></div>
              <div class="collage__img" style="background-image: url('assets/img/bg/bg-collage-img2.jpg');"></div>
              <div class="collage__img" style="background-image: url('assets/img/bg/bg-collage-img3.jpg');"></div>
              <h1 class="h1-index">YesHotties</h1>
            </div>
            <button class="btn btn_1 btn-index">Unlock My Matches</button>
            <div class="search-progress progress" style="display: none;">
              <div class="search-progress__title">
                <span class="search-progress__text">Searching your best <br class="d-lg-none">match</span>
                <span class="search-progress__value">0 %</span>
              </div>
              <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="firstscreen__info firstscreen__info2" style="display: none;">
            <div class="logo"></div>
            <div class="row">
              <div class="col col-lg-6 col-xxl-7 d-none d-lg-block">
                <div class="firstscreen__img">
                  <div class="firstscreen__img-icon"></div>
                </div>
              </div>
              <div class="col col-lg-6 col-xxl-5">
                <div class="firstscreen__cta">
                  <div class="h1_login d-lg-none">Sign up<br>to unlock<br>girls</div>
                  <div class="h1_login d-none d-lg-block">Sign up to<br><span>unlock girls</span></div>
                  <form action="">
                    <div class="form-group form-group_login">
                      <input class="form-control form-control_login" type="text" placeholder="Email">
                    </div>
                    <div class="form-group form-group_login mb-0">
                      <input class="form-control form-control_login" type="password" placeholder="Password">
                    </div>
                    <div class="form-group form-group_login form-group_login-btn">
                      <button class="btn-login btn btn_w100">Sign Up</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="secondscreen secondscreen_1" style="display: block;">
      <div class="container container_xxxl">
        <h2 class="h2_index">Release&nbsp;My <span class="h2_index2row">combinations</span></h2>
        <div class="row">
          <div class="col-12 col-xl-6 pe-xl-5">
            <p class="pmain">We have created a unique combination system that consists of three main factors that produce
              similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated
              form, connects people who have interests in similar activities, passions and future aspirations. We
              also add our own personal touch to the online dating process ensuring that your experience is
              special and exclusive to you.</p>
          </div>
          <div class="col-12 col-xl-6 ps-xl-5">
            <p class="pmain">Instead of spending weeks looking for your best combination, we send you a personalized combination
              every day by email. As these presentations have been carefully selected based on your NF (Life,
              Freedom and Culture) score, you can spend more time talking or planning your first night out.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="secondscreen secondscreen_2" style="display: none;">
      <div class="container container_xxxl">
        <div class="timer">
          <div class="timer__title">Limited chance</div>
          <div class="countdown-js" data-countdown-time="0-15-0"></div>
        </div>
        <div class="row">
          <div class="col-12 col-xl-4 col-xxl-3">
            <div class="title-slider-login">
              <span class="title-slider-login__row1">Limited</span>
              <span class="title-slider-login__row2">chance to</span>
              <span class="title-slider-login__row3">meet them</span>
            </div>
          </div>
          <div class="col-12 col-xl-8 col-xxl-9">
            <div class="splide splide_ulist user-list" aria-label="Profiles">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <div class="user-list-item">
                      <div class="user-list-item__pic">
                        <div class="user-list-item__img" style="background-image: url('assets/img/photos/user-01.jpg');"></div>
                      </div>
                      <div class="user-list-item__inf">
                        <div class="user-list-item__data">
                          <div class="user-list-item__row">
                            <div class="user-list-item__name">Trisha 33</div>
                            <div class="user-list-item__loc">Paris ~ 20km</div>
                          </div>
                          <div class="compatibility-title">Compability score - 10000</div>
                          <div class="compatibility compatibility_list d-flex justify-content-between align-items-center">
                            <div class="compatibility__chart">
                              <div class="compatibility__title">Interests</div>
                              <div class="compatibility__progress progress">
                                <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"><div class="progress-title">30%</div></div>
                              </div>
                            </div>
                            <div class="compatibility__chart">
                              <div class="compatibility__title">Location</div>
                              <div class="compatibility__progress progress">
                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><div class="progress-title">60%</div></div>
                              </div>
                            </div>
                            <div class="compatibility__chart">
                              <div class="compatibility__title">Matches</div>
                              <div class="compatibility__progress progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><div class="progress-title">100%</div></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a class="user-list-item__btn btn btn_2 btn_w100" href="#">Claim Her</a>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="user-list-item">
                      <div class="user-list-item__pic">
                        <div class="user-list-item__img" style="background-image: url('assets/img/photos/user-02.jpg');"></div>
                      </div>
                      <div class="user-list-item__inf">
                        <div class="user-list-item__data">
                          <div class="user-list-item__row">
                            <div class="user-list-item__name">Trisha 33</div>
                            <div class="user-list-item__loc">Paris ~ 20km</div>
                          </div>
                          <div class="compatibility-title">Compability score - 10000</div>
                          <div class="compatibility compatibility_list d-flex justify-content-between align-items-center">
                            <div class="compatibility__chart">
                              <div class="compatibility__title">Interests</div>
                              <div class="compatibility__progress progress">
                                <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"><div class="progress-title">30%</div></div>
                              </div>
                            </div>
                            <div class="compatibility__chart">
                              <div class="compatibility__title">Location</div>
                              <div class="compatibility__progress progress">
                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><div class="progress-title">60%</div></div>
                              </div>
                            </div>
                            <div class="compatibility__chart">
                              <div class="compatibility__title">Matches</div>
                              <div class="compatibility__progress progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><div class="progress-title">100%</div></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a class="user-list-item__btn btn btn_2 btn_w100" href="#">Claim Her</a>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="user-list-item">
                      <div class="user-list-item__pic">
                        <div class="user-list-item__img" style="background-image: url('assets/img/photos/user-03.jpg');"></div>
                      </div>
                      <div class="user-list-item__inf">
                        <div class="user-list-item__data">
                          <div class="user-list-item__row">
                            <div class="user-list-item__name">Trisha 33</div>
                            <div class="user-list-item__loc">Paris ~ 20km</div>
                          </div>
                          <div class="compatibility-title">Compability score - 10000</div>
                          <div class="compatibility compatibility_list d-flex justify-content-between align-items-center">
                            <div class="compatibility__chart">
                              <div class="compatibility__title">Interests</div>
                              <div class="compatibility__progress progress">
                                <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"><div class="progress-title">30%</div></div>
                              </div>
                            </div>
                            <div class="compatibility__chart">
                              <div class="compatibility__title">Location</div>
                              <div class="compatibility__progress progress">
                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><div class="progress-title">60%</div></div>
                              </div>
                            </div>
                            <div class="compatibility__chart">
                              <div class="compatibility__title">Matches</div>
                              <div class="compatibility__progress progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><div class="progress-title">100%</div></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a class="user-list-item__btn btn btn_2 btn_w100" href="#">Claim Her</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="h1_login2 h1_login2_my">Feedback from our users</div>
        <div class="splide splide_fback">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <div class="userfback">
                  <div class="userfback__inf">
                    <div class="userfback__img" style="background-image: url('assets/img/photos/userfback-01.jpg');"></div>
                    <div class="userfback__txt">
                      <p>“I didn't know it was so easy to find the right one!</p>
                      <p>Girls something, thank you YesHotties!</p>
                      <p>Guys you won't regret it!”</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="userfback">
                  <div class="userfback__inf">
                    <div class="userfback__img" style="background-image: url('assets/img/photos/userfback-02.jpg');"></div>
                    <div class="userfback__txt">
                      <p>“God there are so many hot girls! This is the best dating experience I've ever seen!”</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="userfback">
                  <div class="userfback__inf">
                    <div class="userfback__img" style="background-image: url('assets/img/photos/userfback-03.jpg');"></div>
                    <div class="userfback__txt">
                      <p>“Very accurate service of selecting exactly who you want, amazing</p>
                      <p>Guys you won't regret it!”</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="userfback">
                  <div class="userfback__inf">
                    <div class="userfback__img" style="background-image: url('assets/img/photos/userfback-04.jpg');"></div>
                    <div class="userfback__txt">
                      <p>“If I had known this site before, how much time would I have saved ... top girls!”</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="userfback">
                  <div class="userfback__inf">
                    <div class="userfback__img" style="background-image: url('assets/img/photos/userfback-05.jpg');"></div>
                    <div class="userfback__txt">
                      <p>“I doubted and thought another garbage. But it turned out to be a decent site with lots of hot girls. I have never received such emotions!”</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>

<%= _.template(require('./../includes/animation-js.html'))() %>

<%= _.template(require('./../includes/footer.html'))() %>
