<%= _.template(require('./../includes/header.html'))() %>
  <main class="main">
    <div class="container container_text">
      <div class="row">
        <div class="col-12 col-xl-4 text-center text-xl-start">
          <h2>Your <span class="d-none d-xl-block">Subsc<span>-<br></span>riptions</span><span class="d-block d-xl-none">Subscriptions</span></h2>
        </div>
        <div class="col-12 col-xl-8">
          <form action="">
            <div class="customcheck customcheck_switch">
              <input type="checkbox" class="customcheck__input" name="check1" id="switch1" autocomplete="off">
              <label class="customcheck__label" for="switch1">
                <div class="customcheck__icon"><div class="customcheck__mark"></div></div>
                <div class="customcheck__txt">We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form</div>
              </label>
            </div>
            <div class="customcheck customcheck_switch">
              <input type="checkbox" class="customcheck__input" name="check2" id="switch2" checked autocomplete="off">
              <label class="customcheck__label" for="switch2">
                <div class="customcheck__icon"><div class="customcheck__mark"></div></div>
                <div class="customcheck__txt">We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form</div>
              </label>
            </div>
            <div class="customcheck customcheck_switch">
              <input type="checkbox" class="customcheck__input" name="check3" id="switch3" autocomplete="off">
              <label class="customcheck__label" for="switch3">
                <div class="customcheck__icon"><div class="customcheck__mark"></div></div>
                <div class="customcheck__txt">We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form</div>
              </label>
            </div>
            <div class="customcheck customcheck_switch">
              <input type="checkbox" class="customcheck__input" name="check4" id="switch4" checked autocomplete="off">
              <label class="customcheck__label" for="switch4">
                <div class="customcheck__icon"><div class="customcheck__mark"></div></div>
                <div class="customcheck__txt">We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form</div>
              </label>
            </div>
            <div class="customcheck customcheck_switch">
              <input type="checkbox" class="customcheck__input" name="check5" id="switch5" autocomplete="off">
              <label class="customcheck__label" for="switch5">
                <div class="customcheck__icon"><div class="customcheck__mark"></div></div>
                <div class="customcheck__txt">We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form</div>
              </label>
            </div>
            <div class="customcheck customcheck_switch">
              <input type="checkbox" class="customcheck__input" name="check6" id="switch6" checked autocomplete="off">
              <label class="customcheck__label" for="switch6">
                <div class="customcheck__icon"><div class="customcheck__mark"></div></div>
                <div class="customcheck__txt">We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form</div>
              </label>
            </div>
            <div class="form-group form-group_btn-unsuscr">
              <button class="btn btn_w100">Save Preferences</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
<%= _.template(require('./../includes/footer.html'))() %>
