.footer {
  a.footer__link {
    font-family: $font_family2;
    font-weight: 400;
    color: $footer_text_color;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  a.footer__link:hover {
    color: $footer_text_color_hover;
    text-decoration: none;
  }
  a.footer__link:active {
    color: $footer_text_color_active;
    text-decoration: none;
  }
  a.footer__link {
    + a.footer__link {
      margin-top: 28px;
    }
  }
  @media (min-width: 992px) {
    a.footer__link {
      font-family: $font_family;
      font-weight: 500;
      font-size: 22px;
    }
    a.footer__link {
      margin: 0;
      + a.footer__link {
        margin-top: 0;
        margin-left: 42px;
      }
    }
  }
}

.footer__bottom {
  padding: 3px 0 48px;
  @media (min-width: 992px) {
    padding: 17px 0 80px;
  }
}
