.logo {
  width: 139px;
  height: 26px;
  background-image: url('../img/icons/logo.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 28px auto 41px;
  @media (min-width: 992px) {
    margin: 58px auto 90px;
    width: 391px;
    height: 73px;
  }

  &.logo_main {
    width: 280px;
    height: 387px;
    background-image: url('../img/icons/logo-mob.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 61px auto 39px;
    @media (min-width: 992px) {
      background-image: url('../img/icons/logo.svg');
      margin: 58px auto 90px;
      width: 391px;
      height: 73px;
    }
  }

}
