.settings-form {
  padding-top: 79px;
  @media (min-width: 992px) {
    padding-top: 79px;
  }
  @media (min-width: 1200px) {
    padding-top: 41px;
    max-width: 530px;
    margin: 0 0 0 auto;
  }
}

.settings-photo {
  margin: 0 auto;
  position: relative;
  width: 100%;
  @media (min-width: 400px) {
    width: 280px;
    max-width: 280px;
  }
  @media (min-width: 768px) {
    width: 500px;
    max-width: 500px;
  }
  @media (min-width: 1200px) {
    background-image: none;
    width: 500px;
    max-width: 500px;
    margin: 0;
  }
  @media (min-width: 1400px) {
    width: 640px;
    max-width: 640px;
    margin: 0;
  }
}

.profile-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 350px;
  max-height: 350px;
  border-radius: 0;
  background-color: $bg_light_1;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  @include img-mask('../img/photos/mask.svg', -1px, -1px, calc(100% + 2px), calc(100% + 2px), auto, 0% 0%);

  @media (min-width: 400px) {
    height: 246px;
    max-height: 246px;
  }
  @media (min-width: 768px) {
    height: 456px;
    max-height: 456px;
  }
  @media (min-width: 1200px) {
    height: 456px;
    max-height: 456px;
    margin-bottom: 50px;
  }
  @media (min-width: 1400px) {
    height: 582px;
    max-height: 582px;
    margin-bottom: 50px;
  }
}

.settings__btn {
  margin: 0 0 32px 0;
  @media (min-width: 1200px) {
    margin: 0;
  }
}
