h1 {
  font-family: $font_family2;
  font-weight: 400;
  font-size: 247px;
  line-height: 1.2;
  color: $bg_light_3;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  @media (min-width: 1920px) {
    font-size: 247px;
  }
}

.h1-index {
  display: none;
  @media (min-width: 992px) {
    display: block;
    font-size: 140px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -100px;
  }
  @media (min-width: 1200px) {
    font-size: 170px;
    margin-top: -120px;
  }
  @media (min-width: 1400px) {
    font-size: 200px;
    margin-top: -140px;
  }
  @media (min-width: 1650px) {
    font-size: 247px;
    margin-top: -170px;
  }
}

.h1_search {
  font-family: $font_family;
  font-weight: 700;
  color: $font_color;
  font-size: 41px;
  line-height: 50px;
  margin: 0 0 31px;
  text-transform: uppercase;
  @media (min-width: 992px) {
    font-size: 50px;
    line-height: 60px;
  }
  @media (min-width: 1200px) {
    font-size: 66px;
    line-height: 80px;
    margin: 0 0 50px;
  }
  @media (min-width: 1400px) {
    font-size: 80px;
    line-height: 97px;
    margin: 0 0 64px;
  }
}

.h1_login {
  font-family: $font_family2;
  color: $bg_light_1;
  font-weight: 400;
  font-size: 43px;
  line-height: 71px;
  margin: 0 0 41px;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: 380px) {
    font-size: 44px;
  }
  @media (min-width: 450px) {
    font-size: 56px;
    line-height: 77px;
  }
  @media (min-width: 992px) {
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 25px;
  }
  @media (min-width: 1200px) {
    font-size: 55px;
    line-height: 70px;
    margin: 0 0 40px;
  }
  @media (min-width: 1400px) {
    font-size: 55px;
    line-height: 70px;
  }
  @media (min-width: 1650px) {
    font-size: 67px;
    line-height: 81px;
  }
  @media (min-width: 1920px) {
    font-size: 67px;
    line-height: 81px;
    margin: 0 0 40px;
  }
  span {
    letter-spacing: 4px;
    @media (min-width: 992px) {
      letter-spacing: 7px;
    }
    @media (min-width: 1650px) {
      letter-spacing: 5px;
    }
  }
}

.title-slider-login {
  display: none;
  @media (min-width: 992px) {
    display: block;
    font-family: $font_family2;
    color: $font_color;
    font-weight: 400;
    font-size: 49px;
    line-height: 77px;
    text-transform: uppercase;
    margin: 0 0 32px;
    letter-spacing: 2px;
  }
  @media (min-width: 1200px) {
    font-size: 61px;
    margin: 0;
    transform: translateY(-10px);
    letter-spacing: 0;
  }
}
.title-slider-login__row1 {
  @media (min-width: 992px) {
    letter-spacing: 2px;
  }
}
.title-slider-login__row2 {
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    font-size: 54px;
  }
}
.title-slider-login__row3 {
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    font-size: 49px;
  }
}

.h1_login2 {
  font-family: $font_family2;
  color: $font_color;
  font-weight: 400;
  font-size: 31px;
  line-height: 40px;
  margin: 20px 0 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  @media (min-width: 992px) {
    font-size: 49px;
    line-height: 77px;
  }
  @media (min-width: 1200px) {
    font-size: 61px;
    line-height: 77px;
  }

  &.h1_login2_my {
    margin: 66px 0 38px;
    @media (min-width: 1200px) {
      margin: 138px 0 71px;
    }
  }
}

h2 {
  font-family: $font_family2;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 3px;
  color: $font_color;
  margin-bottom: 48px;
  margin-top: 0;
  text-transform: uppercase;
  @media (min-width: 992px) {
    font-size: 61px;
    line-height: 77px;
    margin-bottom: 65px;
  }

  &.h2_index {
    font-size: 43px;
    line-height: 1.2;
    margin-bottom: 36px;
    text-align: center;
    color: $font_color;
    text-transform: uppercase;
    @media (min-width: 768px) {
      text-align: left;
      margin-bottom: 45px;
    }
    @media (min-width: 992px) {
      text-align: left;
      font-size: 60px;
      margin-bottom: 50px;
    }
    @media (min-width: 1200px) {
      font-size: 75px;
    }
    @media (min-width: 1650px) {
      font-size: 94px;
      margin-bottom: 50px;
    }
    span.h2_index2row {
      font-size: 35px;
      @media (min-width: 768px) {
        font-size: inherit;
      }
    }
  }
}

h3 {
  font-family: $font_family;
  font-weight: 500;
  color: $font_color;
  font-size: 17px;
  line-height: 21px;
  margin-top: 57px;
  margin-bottom: 27px;
  text-transform: uppercase;
  @media (min-width: 992px) {
    font-size: 21px;
    line-height: 25px;
    margin-top: 120px;
    margin-bottom: 37px;
  }
}

p {
  line-height: 24px;
  margin-bottom: 1rem;
  @media (min-width: 992px) {
    line-height: 24px;
  }
  b {
    &.bmark {
      font-weight: 700;
      font-family: $font_family;
    }
  }
}

.secondscreen {
  p.pmain {
    font-size: 15px;
    line-height: 24px !important;
    margin-bottom: 2rem;
    @media (min-width: 992px) {
      font-size: 20px !important;
      line-height: 34px !important;
    }
  }
}

a {
  color: $link_color;
  text-decoration: none;
  &:hover {
    color: $link_hover_color;
    text-decoration: none;
  }
  &:active {
    color: $link_active_color;
    text-decoration: none;
  }
}

.link1 {
  font-family: $link_txt_family;
  font-weight: 400;
  font-size: 16px;
  color: $font_color;
  text-transform: uppercase;
  &:hover {
    color: $link_hover_color1;
    text-decoration: none;
  }
  @media (min-width: 1200px) {
    font-size: 22px;
  }
}

.link2 {
  font-family: $font_family;
  font-weight: 300;
  color: $link_color;
  font-size: 14px;
  text-transform: uppercase;
  &:hover {
    color: $link_hover_color;
  }
  &:active {
    color: $link_active_color;
  }
  @media (min-width: 992px) {
    font-size: 22px;
  }
}
