.user-list-wrap {}

.user-list-extra-wrap {
  padding: 48px 0 0;
  @media (min-width: 1200px) {
    padding: 167px 0 0;
  }
}

.user-list-item {
  width: 280px;
  display: flex;
  flex-direction: row;
  position: relative;
  @media (min-width: $user_list_item_breakpoint) {
    width: 530px;
  }

  .user-list-item__pic {
    width: 120px;
    max-width: 120px;
    min-width: 120px;
    height: 167px;
    max-height: 167px;
    margin: 0 auto;
    overflow: hidden;
    @media (min-width: $user_list_item_breakpoint) {
      width: 240px;
      max-width: 240px;
      min-width: 240px;
      height: 283px;
      max-height: 283px;
    }
    .user-list-item__img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      position: relative;
    }
  }

  .user-list-item__btn {}

  .user-list-item__inf {
    width: 100%;
    position: relative;
    background-color: $btn_bg_color_hover;
    max-width: 160px;
    max-height: 167px;
    @media (min-width: $user_list_item_breakpoint) {
      max-width: 290px;
      max-height: 283px;
    }
  }

  .user-list-item__data {
    padding: 17px 16px 12px 20px;
    @media (min-width: $user_list_item_breakpoint) {
      padding: 28px 20px 20px 30px;
    }
  }

  .user-list-item__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: $font_family;
    color: $font_color;
    padding: 0 0 15px;
    @media (min-width: $user_list_item_breakpoint) {
      padding: 0 0 22px;
    }

    .user-list-item__name {
      font-weight: 500;
      line-height: 1;
      font-size: 15px;
      text-transform: uppercase;
      margin-bottom: 7px;
      @include overflow-ellipsis;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 26px;
        margin-bottom: 12px;
      }
    }

    .user-list-item__loc {
      font-weight: 300;
      line-height: 1;
      font-size: 9px;
      @include overflow-ellipsis;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 16px;
      }
    }
  }

  .compatibility-title {
    font-family: $font_family;
    color: $font_color;
    font-weight: 500;
    font-size: 8px;
    line-height: 1.2;
    margin-bottom: 15px;
    text-transform: uppercase;
    @include overflow-ellipsis;
    @media (min-width: $user_list_item_breakpoint) {
      font-size: 16px;
      margin-bottom: 22px;
    }
  }

  .user-list-item__icon { /*del*/
    width: 23px;
    height: 29px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    background-image: url('../img/icons/chain.svg');
    z-index: 5;
    @media (min-width: $user_list_item_breakpoint) {
      width: 53px;
      height: 65px;
    }
  }

  &.user-list-item_extra {
    flex-direction: column;
    width: 120px;
    @media (min-width: $user_list_item_breakpoint) {
      width: 240px;
    }
    .user-list-item__pic {
      .user-list-item__img {}
    }
    .user-list-item__inf {
      text-align: center;
    }
    .user-list-item__data {
      padding: 13px 10px 10px;
      @media (min-width: $user_list_item_breakpoint) {
        padding: 18px 15px 17px;
      }
    }
    .user-list-item__row {
      padding: 0;
    }

    .user-list-item__btn {}
  }
}

.user-list-title {
  font-family: $font_family2;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  color: $user_list_title_color;
  margin-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  @media (min-width: $user_list_item_breakpoint) {
    font-size: 36px;
    line-height: 77px;
    margin-bottom: 70px;
    letter-spacing: 3px;
  }
  @media (min-width: 1200px) {
    max-width: 470px;
    font-size: 30px;
    line-height: 70px;
  }
}

.user-list-title1 {
  margin-bottom: 36px;
  @media (min-width: 1200px) {
    max-width: 265px;
  }
}
