$container-xl:              1140px;
$container-xxl:             1320px;
$container-xxxl:            1640px;
$body_bg_color:             #225C4E;
$btn_bg_color:              #ED352F;
$btn_bg_color_hover:        #278770;
$btn_bg_color_active:       #00C293;
/**/$bg_dark_1:                 #36BD9C; //unuse
$bg_light_1:                #00C293;
$bg_light_2:                #FFF;
$bg_light_3:                #36BD9C;
$font_color:                #FFF;
$font_color2:               #424242;
$font_color3:               #878989;
/**/$font_color4:               #98A5B9;
$font_family:               "SofiaPro", sans-serif;
$font_weight:               300;
$font_size:                 16px;
$font_size_mobile:          15px;
$body_mb:                   120px;
$body_mb_lg:                120px;
$body_mb_xs:                69px;
$font_family2:              "BigshotOne", sans-serif;
$link_txt_family:           $font_family;
$link_color:                $font_color;
$link_hover_color:          #278770;
$link_active_color:         #00C293;
/**/$link_hover_color1:         #bd7667; //unuse
/**/$link_hover_color2:         $link_hover_color; //unuse
$footer_height:             120px;
$footer_height_lg:          120px;
$footer_height_xs:          180px;
$footer_text_color:         $link_color;
$footer_text_color_hover:   $link_hover_color;
$footer_text_color_active:  $link_active_color;

//Form
$input_bg:                  $bg_light_2;
$input_hover_bg:            $input_bg;
$input_txt_family:          $font_family;
$input_txt_color:           $font_color3;
$input_hover_txt_color:     $font_color2;
$input_placeholder_color:   $btn_bg_color_active;
$input_txt_xs_size:         16px;
$input_txt_xs_lh:           1.5;
$input_txt_size:            22px;
$input_txt_lh:              1.5;
$input_border_color:        $input_bg;
$input_border:              none;
$input_hover_border:        $input_border;
$input_border_radius:       0;
$textarea_border_radius:    0;
$textarea_border_radius_mob:0;


//Bootstrap container width
@function get-container-width($key: 'md') {
  @return map-get($container-max-widths, $key);
}

//User List page wider
$user_list_item_breakpoint: 992px;
$user_list_title_color:     $font_color;

/**/
@mixin circle($diameter, $background-color) {
  width: $diameter;
  height: $diameter;
  background-color: $background-color;
  border-radius: 100%;
}

@mixin img-mask($url, $top, $left, $width, $height, $bsize, $bpos) {
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: $top;
    left: $left;
    right: 0;
    bottom: 0;
    width: $width;
    height: $height;
    background-image: url($url);
    background-size: $bsize;
    background-position: $bpos;
    background-repeat: no-repeat;
    z-index: 1;
  }
}

@mixin color-filter($color, $alpha) {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color, $alpha);
  }
}

@mixin overflow-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
